@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}
html {
    font-size: 65%;
}
body {
    background-color: black;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
    justify-content: center;
}
h1 {
    color: #18EE00;
    font-size: 5rem;
    width: 350px;
}
p {
    color: grey;
    font-size: 2.6rem;
    font-weight: bolder;
    margin-top: 30px;
}
.dateInput {
    font-variant: small-caps;
    font-size: 3rem;
    font-weight: bolder;
    color: gray;
    background-color:#191A18;
    margin: 10px;
    padding: 15px;
    width: 350px;
    border-radius: 28px;
}
.startButton {
    font-size: 2.5rem;
    font-weight: bolder;
    background-color: #21EB00;
    margin: 10px;
    padding: 15px;
    width: 370px;
    border-radius: 28px;
}