@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}
:root {
    --colorPink: #C697B7;
    --colorGray: #ABAAC5;
}
html {
    font-size: 65%;
}
body {
    background-image: url("background.jpg");
    background-color: black;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
    justify-content: center;
}
h1 {
    color: var(--colorPink);
    font-size: 5rem;
    width: 350px;
}
p {
    color: var(--colorGray);
    font-size: 2.6rem;
    font-weight: bolder;
    margin-top: 30px;
}
.date-input {
    font-variant: small-caps;
    font-size: 3rem;
    font-weight: bolder;
    color: var(--colorGray);
    background-color:#353434;
    margin: 10px;
    padding: 15px;
    width: 350px;
    border-radius: 28px;
    outline: none;
}
.start-button {
    font-size: 2.5rem;
    font-weight: bolder;
    background-color: var(--colorPink);
    margin: 10px;
    padding: 15px;
    width: 370px;
    border-radius: 28px;
}